<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Markdown Table Viewer</title>
    <link rel="stylesheet" href="styles.css?v=1">
    <script src="lib/marked.min.js?v=1"></script>
    <script src="lib/popper.min.js?v=1"></script>
    <script src="lib/tippy-bundle.umd.min.js?v=1"></script>
</head>
<body>
    <div id="table-container"></div>
    <div id="navigation">
        <a href="#" id="show/hide-hyogai">Show Hyogai</a>
        <a href="#" id="show/hide-old">Show Old</a>
        <a href="#" id="back-to-previous">Back to Previous</a>
        <a href="#" id="back-to-top">Back to Top</a>
        <a href="#" id="back-to-home">Back to Home</a>
    </div>
    <script type="module" src="js/main.js?v=1"></script>
</body>
</html>
